@import url('https://fonts.googleapis.com/css2?family=Poppins:400,500,700');
*,*:before, *:after {

    box-sizing: border-box ; 
    padding: 0 ;
    margin: 0 ;  
    
}
body{
    background-color: #E5E5E5;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
}
.ellipse{
    position: absolute;
    width:204px;
    height: 612px;
    transform: translate(0,38%);
    z-index: -1;
}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}
.main-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav a{
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    margin-right: 10px;

}
.main-header{
    height: 138px;;
}
.main-header a:hover{
    color: grey;
}
.full-height-grow{
    display: flex;
    flex-direction: column;
}
.brand-logo{
    
    position: relative;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }
.brand-logo img{
    margin: 10px;
    padding: 5px;
    position: absolute;
    width:100px;
    height: 70px;
}
.container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    flex-grow: 1;
}
.btn, .active{
    background-image:linear-gradient(to right,#F8D831,#DB8F44);
    padding:0.75rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
  }

  .intro{
      background: black;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .text{
      color: lavender;
      font-family: "Poppins", sans-serif;
  }
  .slider{
    background: rgb(109, 138, 177);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}
.bg{
    display: flex;
    align-items: center;
    justify-content:center;

}